Campaign Performance Reporter.json
{
  "name": "Campaign Performance Reporter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "793a889a-8fdd-4367-beff-86b2f28b03c9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "01635f84-fd86-4c3b-83a0-df9349551f6b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst formatted = rows.map(r => \n  `Campaign: ${r.json.Campaign} | Platform: ${r.json.Platform} | CTR: ${r.json.CTR} | Spend: ${r.json.Spend} | CPA: ${r.json.CPA} | Status: ${r.json.Status}`\n).join('\\n');\n\nreturn [{json: {campaign_text: formatted}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "979db74e-e046-477c-a99d-73fec84f9648",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"model\": \"llama-3.3-70b-versatile\", \"messages\": [{\"role\": \"user\", \"content\": \"Analyse this campaign data and write a weekly performance report with top campaign, worst campaign, key insights and recommendations.\\n\\nData:\\n\" + $json.campaign_text}]} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        0
      ],
      "id": "35e4e54c-f41d-4ad2-94d8-3970ead1577b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst reportText = response.choices[0].message.content;\nreturn [{json: {report: reportText}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ],
      "id": "45673594-8f7b-4954-a437-804ee2a23348",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL_HERE",
        "subject": "Weekly Campaign Performance Report",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 700px; margin: 0 auto; padding: 20px;\">\n  \n  <div style=\"background: #1A3C5E; padding: 20px; border-radius: 8px; margin-bottom: 20px;\">\n    <h1 style=\"color: white; margin: 0; font-size: 22px;\">📊 Weekly Campaign Performance Report</h1>\n    <p style=\"color: #ccc; margin: 5px 0 0 0; font-size: 13px;\">Generated automatically by AI • {{ $now.format('DD MMM YYYY') }}</p>\n  </div>\n\n  <div style=\"background: #f9f9f9; border-left: 4px solid #2E75B6; padding: 15px 20px; border-radius: 4px; white-space: pre-wrap; font-size: 14px; line-height: 1.7; color: #333;\">\n    {{ $json.report.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>') }}\n  </div>\n\n  <div style=\"margin-top: 20px; padding: 15px; background: #f0f4f8; border-radius: 6px; font-size: 12px; color: #888; text-align: center;\">\n    This report was generated automatically from your campaign data.<br>\n    Powered by n8n + Groq AI\n  </div>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        0
      ],
      "id": "86ede9b9-b627-4fa0-b6c2-5564d868f9dc",
      "name": "Send a message",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## DATA FETCH & FORMAT\nReads campaign data from Google Sheet.\nFormats rows into a single text string for AI analysis.\nSetup: Add your Sheet ID in the Google Sheets node.",
        "height": 128,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        -144
      ],
      "id": "b942bb9f-15e8-4d27-bab2-2d472796e8c0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## TRIGGER\nRuns every Monday at 9am automatically.\nChange schedule in the trigger node settings."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        160
      ],
      "id": "45c50895-30f4-4362-94f6-e526b23053a9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## AI ANALYSIS & EMAIL\nSends campaign data to Groq (Llama 3.3) for analysis.\nExtracts the report and emails it automatically.\nSetup: Add your Groq API key and Gmail credentials.",
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        160
      ],
      "id": "bf2e5bfb-ef1e-4304-8cfa-6e9b23ed68ae",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7afa142c-8b82-4077-99a0-0d38106e5cf1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}